body {
    font-family: Arial, Helvetica, sans-serif;
    font: 1em sans-serif;
    color: white;
}

.header {
    display: flex;
    padding:1px;
    margin: 0px;
    background-color: #1F2937;
  /*  color: #F9FAF8; */
    justify-content: space-around;
}

.logo {
    padding: 5px;
    font-size: 28px;
    flex-grow: 1;
    font-weight: bolder;
    
}

p {
    text-align: center;
    padding: 10px;
}

a {
  /*  color: #F9FAF8; */
    text-decoration: none;
}

a:visited {
    color: white;
}

.links {
    padding: 25px;
    flex: 1 1 0;
    
} 

ul {
    display: flex;
    list-style: none;
    gap: 66px;
    padding: 5px;
    font-size: 20px;
    flex: 1 1 0;
    justify-content: center;
    
}

li {
    justify-content: center;
    gap:15px;
}

.containerone {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
  /*  color: white; */
}

.containertwo {
    display: flex;
    background-color: darkgrey;
    justify-content: space-around;
    flex-direction: row;
    flex: 1 1 0;
}

.containerfour {
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size:  20px;
    font-weight: bold;
    color: black;
    flex-direction: column;
}

.containerfour p {
    font-size: 36px;
    font-weight: lighter;
}

blockquote {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 35px;
}

cite {
    display: flex;
    justify-content: end;
}

.raninfo {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 45px;
    font-weight: bold;
}

.containerthree {
    display: flex;
    justify-content: space-evenly;
    background-color: darkgrey;
    padding-bottom: 80px;
}

button {
    background-color: blue ;
    padding: 10px;
    font-weight: bold;
    color: white;
    width: fit-content;
    border-radius: 10px;
}

.awesome {
    display:flex;
    flex-direction: column;
    margin: 5px;
    padding: 50px;
    flex: 0 1 450px;
    justify-content: center;
}

.websome {
    font-size:  44px;
    font-weight: bold;
    
}

.img {
    display:flex;
    justify-content: center;
    flex: 0 1 350px;
}

.img2 {
    display:flex;
    justify-content: center;
    height: 80px;
    width: 50px;
}

img {
/*    padding: 50px; */
    margin: 10px;
    max-width:100%;
    max-height:100%;
    border: 3px solid black;
    border-radius: 60px;
}